{
  "BotId": "",
  "Ratio": 50,
  "Length": 10,
  "EnableSemen": true,
  "EnablePhrases": true,
  "EnableReactions": true,
  "MainCum": "admin",
  "DefaultPhrasesFilename": "phrases.json",
  "EnableGame": false
}
